{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <title>Geekfts | Orden</title>
    <meta description="Un estilo Geek único y original solo para ti">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120223100-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120223100-1');
    </script>
</head>
<body >
    <div id="app">
      <nav class="navbar white" >
        <a href="/" class="logo-css">
            <div class="letter-g">
                <div class="circle">
                </div>
                <div class="trapezoid">
                </div>
                <div class="rectangle"></div>
                <div class="half-left-circle"></div>
              </div>
        </a>
        <div class="menu">
          <a href="#camisetas">Camisetas</a>
          <a href="#tracking">Mi Pedido</a>
        </div>
      </nav>


    {% if valid %}
      <section class="order-section">
        
        <div class="title">
          <h2>Orden #{{order.number}}</h2>
        </div>

        <div class="content-status">
          {% if order.status == 'paid' %}
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/pagado-active.svg' %}" alt="">
            </div>
            <p>Pagado</p>
          </div>
          <div class="line"></div>
          <div class="status">
            <div class="icon">
              <img src="{% static 'img/proceso.svg' %}" alt="">
            </div>
            <p>En Proceso</p>
          </div>
          <div class="line"></div>
          <div class="status">
            <div class="icon">
              <img src="{% static 'img/enviado.svg' %}" alt="">
            </div>
            <p>Enviado</p>
          </div>
          <div class="line"></div>
          <div class="status">
            <div class="icon">
              <img src="{% static 'img/entregado.svg' %}" alt="">
            </div>
            <p style="bottom: -30px;">Entrega Estimada 16-04</p>
          </div>
          {% endif %}


           {% if order.status == 'in-process' %}
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/pagado-active.svg' %}" alt="">
            </div>
            <p>Pagado</p>
          </div>
          <div class="line"></div>
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/proceso-active.svg' %}" alt="">
            </div>
            <p>En Proceso</p>
          </div>
          <div class="line"></div>
          <div class="status">
            <div class="icon">
              <img src="{% static 'img/enviado.svg' %}" alt="">
            </div>
            <p>Enviado</p>
          </div>
          <div class="line"></div>
          <div class="status">
            <div class="icon">
              <img src="{% static 'img/entregado.svg' %}" alt="">
            </div>
            <p style="bottom: -30px;">Entrega Estimada 16-04</p>
          </div>
          {% endif %}


          {% if order.status == 'sent' %}
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/pagado-active.svg' %}" alt="">
            </div>
            <p>Pagado</p>
          </div>
          <div class="line"></div>
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/proceso-active.svg' %}" alt="">
            </div>
            <p>En Proceso</p>
          </div>
          <div class="line"></div>
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/enviado-active.svg' %}" alt="">
            </div>
            <p>Enviado</p>
          </div>
          <div class="line"></div>
          <div class="status">
            <div class="icon">
              <img src="{% static 'img/entregado.svg' %}" alt="">
            </div>
            <p style="bottom: -30px;">Entrega Estimada 16-04</p>
          </div>
          {% endif %}

          {% if order.status == 'received' %}
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/pagado-active.svg' %}" alt="">
            </div>
            <p>Pagado</p>
          </div>
          <div class="line"></div>
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/proceso-active.svg' %}" alt="">
            </div>
            <p>En Proceso</p>
          </div>
          <div class="line"></div>
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/enviado-active.svg' %}" alt="">
            </div>
            <p>Enviado</p>
          </div>
          <div class="line"></div>
          <div class="status active">
            <div class="icon">
              <img src="{% static 'img/entregado-active.svg' %}" alt="">
            </div>
            <p style="bottom: -30px;">Entrega Estimada 16-04</p>
          </div>
          {% endif %}





          
          

        </div>

        <div class="products">
          {% for product in products %}
           <div class="product">
             <div class="image">
               <img src="media/{{product.image.image}}" alt="">
             </div>
             <div class="text">
               <h3 class="title-product">{{product.shirt.name}}</h4>
               <p>Cantidad: {{product.quantity}}</p>
             </div>
           </div>
          {% endfor %}

          <div class="total">
            <h4 class="text">Total:</h4>
            {% load humanize %}
            <h4>$COP {{order.total|intcomma}}</h4>
          </div>
        </div>
      </section>

     {% else %}
        <div class="section-notfound">
          <h4>Lo sentimos no hemos encontrado un pedido con este número o email</h4>

          <div class="tracking">
            <div class="title">
              <p>Ingresa aquí tu # de pedido y tu e-mail</p>
            </div>

            <form class="search" method="get" action="orden">
              <input type="text" name="number" placeholder="# De Pedido">
              <input type="email" name="email" placeholder="email@email.com">
              <button type="submit" class="btn btn-dark">
                <span>Buscar</span>
              </button>
            </form>
            
          </div>
        </div>
     {% endif %}
      <footer>
          <div class="quote">
              <h4>Siguenos en
              </h4>
          </div>

          <div class="socials">
              <a target="_blank" href="https://www.facebook.com/geekfts/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/geekfts/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
          </div>
          <div class="socials">
              <p>O contáctanos a través de geekfts@gmail.com</p>
              <a target="_blank" href="mailto:geekfts@gmail.com">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
          </div>
          <div class="powered">
            <p>Powered By @Geekfts</p>
          </div>
          
      </footer>
    	<div class="ws-chat"  v-bind:class="{ active: showChat}">
    		<i class="fa fa-times close" v-on:click="toggleChat" aria-hidden="true"></i>
    		<div class="header">
    			<p>Hola,</p>
    			<p>Este es nuestro Whatsapp: +57 319 3220401</p>
    			<p>Comunicate con nosotros</p>
    		</div>
    		<div class="body">
    			<a target="_blank" href="https://api.whatsapp.com/send?phone=573193220401&text=Hola%20quiero%20info">Enviar Mensaje</a>
    		</div>
    	</div>
      <div class="ws-btn"  v-on:click="toggleChat">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{% static 'js/order.js' %}"></script>
</body>
</html>